*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: url("img/background.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img{
    width: 30vw;
}

.input{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.input input{
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    margin: 0.5rem;
    padding: 1rem 1.5rem;
    box-shadow: 0px 0px 6px 2px #ddd;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.card:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.1);
}

.card > h5{
    font-size: 1.3rem;
    text-align: center;
    margin: 0;
    color: #666;
    text-transform: capitalize;
}

.info__card{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20vw;
    min-height: 70vh;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 6px 2px #ddd;
    padding: 1rem;
}

.info__card > .close{
    position: absolute;
    right: 10px;
    top: 5px;
    border: 0;
    background: #fff;
    font-size: 1.4rem;
    font-family: cursive;
    cursor: pointer;
    color: #666;
}

.info__card > .close:hover{
    color: #000;
}

.pokemon__name{
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    margin: 1rem auto;
}

.pokemon__types{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.pokemon__types .type{
    /* border: 2px solid #666; */
    border-radius: 8px;
    padding: 4px 6px;
    color: #fff;
    min-width: 45px;
    background: #666;
    text-align: center;
}

.pokemon__types .grass{
    background: #78c850;
}
.pokemon__types .poison{
    background: #a040a0;
}
.pokemon__types .fire{
    background: #f08030;
}
.pokemon__types .normal{
    background: #a8a878;
}
.pokemon__types .water{
    background: #6890f0;
}
.pokemon__types .electric{
    background: #78c850;
}
.pokemon__types .ice{
    background: #78c850;
}
.pokemon__types .fighting{
    background: #c03028;
}
.pokemon__types .ground{
    background: #e0c068;
}
.pokemon__types .flying{
    background: #a890f0;
}
.pokemon__types .psychic{
    background: #f85888;
}
.pokemon__types .bug{
    background: #a8b820;
}
.pokemon__types .rock{
    background: #b8a038;
}
.pokemon__types .ghost{
    background: #705898;
}
.pokemon__types .dark{
    background: #705848;
}
.pokemon__types .dragon{
    background: #7038f8;
}
.pokemon__types .steel{
    background: #b8b8d0;
}
.pokemon__types .fairy{
    background: #f0b6bc;
}



.imgs{
    display: flex;
    justify-content: center;
}

.pokemon__desc{
    display: flex;
}

.pokemon__desc>div{
    width: 50%;
    padding: 1rem;
}

.weight,.height{
    margin: 0.5rem auto;
}

.stats .bar{
    position: relative;
    width: 100%;
    border-radius: 8px;
    height: 8px;
    box-shadow: inset 0px 0px 3px 1px #cdcdcd;
    margin-bottom: 0.5rem;
}

.stats .bar>span{
    display: block;
    width: 0%;
    height: 100%;
    border-radius: 8px;
    background: limegreen;
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 600px) {
    .info__card {
      width: 90vw;
      height: fit-content;
    }

    .card{
        padding: 0.5rem 1rem;
        width: 30% !important;
    }

    .card img{
        max-width: 80px !important;
    }

    .info__card > .close{
        font-family: sans-serif;
    }
}