*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: url("img/background.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img{
    width: 30vw;
}

.input{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.input input{
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    margin: 0.5rem;
    padding: 1rem 1.5rem;
    box-shadow: 0px 0px 6px 2px #ddd;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.card:hover{
    transition: transform 0.2s ease-in-out;
    transform: translateY(-5px);
    transform: scale(1.1);
}

.card > h5{
    font-size: 1.3rem;
    text-align: center;
    margin: 0;
    color: #666;
    text-transform: capitalize;
}

.info__card{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20vw;
    min-height: 70vh;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 6px 2px #ddd;
    padding: 0px;
}

.info__card > .close{
    position: absolute;
    right: 10px;
    top: 5px;
    border: 0;
    background: transparent;
    font-size: 1.4rem;
    cursor: pointer;
    color: #fff;
}

.info__card > .close:hover{
    color: #666;
}

.pokemon__name{
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    padding: 1rem 0;
}

.pokemon__types{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0 3rem;
}

.pokemon__types .type{
    box-shadow: 0px 0px 3px 1px #646464;
    border-radius: 8px;
    padding: 4px 6px;
    color: #fff;
    min-width: 45px;
    /* background: #666; */
    text-align: center;
}

.grass{
    background: #78c850;
}
.poison{
    background: #a040a0;
}
.fire{
    background: #f08030;
}
.normal{
    background: #a8a878;
}
.water{
    background: #6890f0;
}
.electric{
    background: #f8d030;
}
.ice{
    background: #98d8d8;
}
.fighting{
    background: #c03028;
}
.ground{
    background: #e0c068;
}
.flying{
    background: #a890f0;
}
.psychic{
    background: #f85888;
}
.bug{
    background: #a8b820;
}
.rock{
    background: #b8a038;
}
.ghost{
    background: #705898;
}
.dark{
    background: #705848;
}
.dragon{
    background: #7038f8;
}
.steel{
    background: #b8b8d0;
}
.fairy{
    background: #f0b6bc;
}


.card img{
    max-width: 100px;
}

.imgs{
    display: flex;
    justify-content: center;
    padding: 0 3rem;
}

.imgs>img{
    background: #fff;
    border-radius: 50%;
    margin-bottom: 1rem;
    box-shadow: 0px 1px 3px 2px #d3d3d3;
}

.pokemon__desc{
    display: flex;
    padding: 0 3rem;
}

.pokemon__desc>div{
    width: 50%;
    padding: 1rem;
}

.weight,.height{
    margin: 0.5rem auto;
}

.stats{
    padding: 0 2rem 1rem 2rem;
}

.stats .bar{
    position: relative;
    width: 100%;
    border-radius: 8px;
    height: 8px;
    box-shadow: inset 0px 0px 3px 1px #cdcdcd;
    margin-bottom: 0.5rem;
}

.stats .bar>span{
    display: block;
    width: 0%;
    height: 100%;
    border-radius: 8px;
    background: limegreen;
    transition: all 0.5s ease-in-out;
}


.wave{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2px;
    opacity: 0;
    /* background-color: #000; */
    overflow: hidden;
    /* transition: all 0.8s ease-in-out; */
}

.card:hover .wave1{
    animation: waves 2.1s infinite;
}

.card:hover .wave2{
    animation: waves 2.1s 0.7s infinite;
}

.card:hover .wave3{
    animation: waves 2.1s 1.4s infinite;
}

@keyframes waves {
    0%{
        opacity: 0;
        bottom: -1px;
    }

    20%{
        opacity: 1;
        bottom: 0rem;
    }

    100%{
        opacity: 0;
        bottom: 1rem;
    }
}

#background{
    border-radius: 4px;
    box-shadow: 0px 4px 2px 0px #b6b6b6;
    margin-bottom: 1rem;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .info__card {
      width: 90vw;
      height: fit-content;
    }

    .card{
        padding: 0.5rem 1rem;
        width: 30% !important;
    }

    .card img{
        max-width: 80px !important;
    }

    .info__card > .close{
        font-family: sans-serif;
    }
}